# Renomeie para secrets.toml e preencha com as credenciais reais
# NUNCA suba o secrets.toml para o GitHub

POWERBI_CLIENT_ID     = "63cdc2e6-d4de-4c1b-acb6-5dd8db8c603e"
POWERBI_TENANT_ID     = "45d3d314-8ae9-4a13-92d6-ade3ede81811"
POWERBI_CLIENT_SECRET = "sua-chave-aqui"
POWERBI_USERNAME      = "bi.indio@teleconsistemas.com.br"
POWERBI_PASSWORD      = "sua-senha-aqui"
